
<%= form_with class: "form_addFavoriteCity", url: "/favorite_cities",  local: false, method: :create do |form| %>

  <h1>Weather for <%= @weather.city %>   

    <%= form.hidden_field :city, value: @weather.city %>

    <%= form.submit "⭐", title: "Adicionar às Favoritas?", data: { disable_with: "⭐", confirm: "Deseja adicionar '#{@weather.city}' às cidades favoritas?" } %>

  </h1>

<% end %>