<h1>Cidades Favoritas</h1>

<% @cidades.each do |cidade| %>

    <%= form_with url: url_for(action: :destroy, id: cidade.id),  local: true, method: :delete do |form| %>
      <% #form.hidden_field :id, value: cidade.id %>
      <%= form.submit "❌", data: { disable_with: "❌", confirm: "Confirma remoção de '#{cidade.city}' das cidades favoritas?" } %>

        <a href="/dashboard/index?f_cidade=<%= cidade.city %>">
          <%= cidade.city %>
        </a>

    <% end %>

<% end %>